// .root {
// 	position: sticky;
// 	top: 0;
// 	z-index: ;
// }

.block {
	display: block;
	overflow: clip;
	min-height: 100vh;
	height: 100vh;
	width: 100%;
	overflow: clip;
	filter: brightness(0.85);

	& .image {
		height: 100%;
		width: 100%;
	}
}
