@use "styles/colors" as *;

.root {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  color: #171717;
  gap: 12rem;
  padding: 60rem 12rem 120rem;
}
.imageWrap {
  grid-column: 1/3;
  grid-row: 1/3;
  position: relative;
  height: 520rem;
}
.body {
  grid-column: 5/-1;
  margin-bottom: 280rem;
  padding-right: 20rem;
}
.content {
  grid-column: 6/8;
  display: flex;
  flex-direction: column;
  row-gap: 20rem;

  h2 {
    padding-bottom: 20rem;
    border-bottom: 1px dashed $lgrey;
  }

  .link {
    width: 100%;
    max-width: 120rem;
    min-height: 30rem;
    padding: 8rem 16rem;
    background: black;
    color: $white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
