$orange: orange;

$ivory: #e5e5de;
$black: #2f2a24;
$dblack: #000000;
$pgreen: #aabbbb;
//  New
$grey: #979797;
$blendGrey: #686868;
$white: #fbfbfb;
$pwhite: #ffffff;
$plat: #f2f2f2;
$m-grey: #859099;

//  Old
$lgrey: #cfcfcf;
// $lgrey: #f1f1f1;
$plat50: #eaeaea;
$plat100: #e8e8e4;
$twolf: #d4d4d4;
$outline: #ffffff33;

$dgrey: #9a9a98;
$dvgrey: #5a5a5a;
$jblack: #323232;
$eblack: #171717;

// $red: #003cff;
$red: #960707;
$orange: #b96f3a;