@use "styles/colors" as *;

html,
body {
  width: 100%;
  max-width: 100vw;
  background: $white;
  color: $black;

  ::-webkit-scrollbar {
    display: none;
  }
}

button,
a {
  outline: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
