.xl,
.l,
.m,
.s,
.p {
	line-height: 100%;
	font-weight: 400;
}

.xl {
	font-size: 42rem;
	line-height: 36rem;
	font-weight: 600;
}

.l {
	font-size: 24rem;
	line-height: 22rem;
}

.m {
	font-size: 20rem;
	line-height: 18rem;
}

.s {
	font-size: 16rem;
	line-height: 16rem;
}

.p {
	font-size: 18rem;
	line-height: 20rem;
}
