@use "styles/colors" as *;

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;

  --nav-offset: 0px;
  --nav-height: 100%;
  --nav-bg-offset: 100%;
  transform: translateY(calc(var(--nav-offset) * -1));
  will-change: transform;

  &.sliding {
    transition: transform 0.6s cubic-bezier(0.5, 0, 0.15, 1);
  }
}

.inner {
  position: relative;
  overflow: clip;
  padding: 8rem 8rem 4rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  gap: 8rem;
  color: $white;
}

.navBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  transform: translateY(var(--nav-bg-offset, var(--nav-height)));
  background: $white;
  pointer-events: none;
}

.logo {
  grid-column: 1/4;
  mix-blend-mode: difference;
  position: relative;
}

.menu {
  grid-column: 7/9;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  position: relative;
  gap: 8rem;
}

.menuPill {
  position: absolute;
  top: -2rem;
  bottom: -2rem;
  left: -4rem;
  width: 0;
  background: $eblack;
  border-radius: 2rem;
  pointer-events: none;
  will-change: transform, width;
  z-index: 0;
}

.menuItem {
  position: relative;
  z-index: 1;
  overflow: clip;
  padding: 4rem 0;
  cursor: pointer;
}

.button {
  grid-column: 12/-1;
  justify-self: flex-end;
  mix-blend-mode: difference;
  position: relative;
}
